
      {% for member in site.steering-committee %}
      <section>
  <div class="container">
      <br>
      <h2 class="text-center mt-0">{{ member.name }}</h2>
      <div class="row-fluid member-box">
      	{% if member.picture %}
        <div class="col-md-auto">
          <img class="fa fa-3x" src="{{ member.picture }}">
        </div>
       	{% endif %}
        <div class="col-md-auto">
          <div class="card-body">
            <p class="card-text"> {% if page.lang == "es" %}{{ member.body-es | newline_to_br | markdownify }}{% else %}{{ member.body-en | newline_to_br | markdownify }}{% endif %}</p>
          </div>
        </div>
      </div>
      <br><br>

    </div>
  </div>
</section>
      {% endfor %}