<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 {{ section.text_style | default: 'text-center' }}">
        {% if page.lang == "es" %}<h2 class="text-black mt-0 text-center">Involucrarse!</h2><a href="https://docs.google.com/forms/d/e/1FAIpQLScSL1IZZJnZix0hYExfA0Rm_taNpw6OR4w0KIwjk3asiU0Y2Q/viewform">Se Voluntario de Fuerza Latina!</a>{% else %}<h2 class="text-black mt-0 text-center">Get Involved!</h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSddYKmPGU5Kz_ZVX5AmtSFz-lEPpdfIqUSUhcx-n4EF-0rWSw/viewform">Volunteer with Fuerza Latina!</a>{% endif %}
      </div>
    </div>
  </div>
</section>


<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 {{ section.text_style | default: 'text-center' }}">
        <h2 class="text-black mt-0 text-center">Contact Us!</h2>
        <hr class="divider light my-4">
        <div class="text-black-50 mb-4 ">
          Phone: <a href="tel:9704198944">Call 970-419-8944</a><br>
          Or Email Us:<br>
          <b class="text-black">Fuerza Latina Community Contact</b> <a href = "mailto: shirley.mk.leung@gmail.com">shirley.mk.leung@gmail.com</a> <br>
          <b class="text-black">FCCAN Coorrdinator Shirley Leung</b> <a href = "mailto: info@fccan.org">info@fccan.org</a>  <br>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 {{ section.text_style | default: 'text-center' }}">
        {% if page.lang == "es" %}<a href="https://forms.gle/N8J81t6wRDMF2pPx5">Inscribirse en la lista de correo!</a>{% else %}<a href="https://forms.gle/N8J81t6wRDMF2pPx5">Subscribe to Our Email Newsletter!</a>{% endif %}
      </div>
    </div>
  </div>
</section>