<section>
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
      {% for member in site.staff %}
      <div class="row-fluid member-box">
        <img class="fa fa-4x" src="{{ member.picture }}">
        <div class="span8">
            <h3 class="h4 mb-2">{{ member.name }}</h3>
            <b>{{ member.title }}</b>
            {% if page.lang == "es" %}{{ member.body-es | newline_to_br }}{% else %}{{ member }}{% endif %}
        </div>
        </div>
        <br><br>
      {% endfor %}
    </div>
  </div>
</section>
