<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 fuerza-nav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">{{ site.title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        {% for item in site.data.menus.header  %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ item.url }}">{% if page.url contains "es" %}{{ item.title-es }}{% else %}{{ item.title }}{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="list-horizontal">
        <li class="lang_li"><a class="lang_a {% if page.url contains "es" %}{% else %}lang_selected{% endif %}" href="{{ page.url|remove:'es/' |remove:'.html' }}">EN</a>/<a class="lang_a {% if page.url contains "es" %}lang_selected{% else %}{% endif %}" href="{% if page.url contains "es" %}{{ page.url|remove:'.html'  }}{% else %} es{{ page.url|remove:'.html'  }}{% endif %}">ES</a></li>
      </ul>
        <li class="lang_li full-height left-border">
          <i class="donate_icon qode_icon_font_awesome fa fa-heart"></i>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="bn" value="TipsandTricks_SP">
                <input type="hidden" name="business" value="info@fccan.org">
                <input type="hidden" name="return" value="http://fccan.org">
                <input type="hidden" name="item_name" value="Fuerza Latina is Community Funded Please Donate Now!">
                <input type="hidden" name="rm" value="0">
                <input type="hidden" name="currency_code" value="USD">
                <input type="submit" style="background:transparent; border:none;width:100%;height: 100%;" class="donate" value="{% if page.url contains "es" %}Donar{% else %} Donate{% endif %}">
        </form>
        </li>
    </ul>
    </div>
  </div>
</nav>