<section>
  <div class="container">
      {% for program in site.programs %}
      <h2 class="text-center mt-0">{% if page.lang == "es" %}{{ program.title-es | newline_to_br }}{% else %}{{ program.title-en | newline_to_br }}{% endif %}</h2>

      <br>
      <div class="row-fluid member-box">
      	{% if program.picture %}
        <div class="col-md-auto">
          <img class="fa fa-3x" src="{{ program.picture }}">
        </div>
       	{% endif %}
        <div class="col-md-auto">
          <div class="card-body">
            <p class="card-text"> {% if page.lang == "es" %}{{ program.body-es | newline_to_br }}{% else %}{{ program.body-en | newline_to_br }}{% endif %}</p>
          </div>
        </div>
      </div>
      <br><br>
      {% endfor %}
    </div>
  </div>
</section>
