<section>
  <div class="container">
      {% for resource in site.resources %}
      <h2 class="text-center mt-0">{% if page.lang == "es" %}{{ resource.title-es | newline_to_br }}{% else %}{{ resource.title-en | newline_to_br }}{% endif %}</h2>

      <br>
      <div class="row-fluid member-box">
      	{% if resource.picture %}
        <div class="col-md-auto">
          <img class="fa fa-3x" src="{{ resource.picture }}">
        </div>
       	{% endif %}
        {% if resource.files %}
        {% for file in resource.files %}
          <a class=center-me href="{{ file }}">{{ file | remove: "/media/"}}</a>
        {% endfor %}
        {% endif %}
        <div class="col-md-auto">
          <div class="card-body">
            <p class="card-text"> {% if page.lang == "es" %}{% if resource.body-es %}{{ resource.body-es | newline_to_br | markdownify }}{% endif %}{% else %}{% if resource.body-en %}{{ resource.body-en | newline_to_br | markdownify }}{% endif %}{% endif %}</p>
          </div>
        </div>
      </div>
      <br><br>
      {% endfor %}
    </div>
  </div>
</section>
