.member-box {
    max-width: 80%;
    margin: 10px auto 0;
    @media (min-width: 992px) {
        margin: 10px auto 0;
    }
    p {
        margin-bottom: 0;
    }
    img {
      width: 30%;
      height: 30%;
      object-fit: cover;
      float: left;
      border-radius: 50%;
    }
}
